<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zimo Tools</title>
</head>
<body>
    <h1>Bard Test</h1>
    <form action="/ai" method="POST" enctype="multipart/form-data">
        <textarea name="prompt" id="prompt" cols="30" rows="10"></textarea>
        <button type="submit">submit</button>
    </form>
    <h2>Inputted</h2>
    <p>{{ inputted }}</p>
    <h2>Result</h2>
    <p>{{ result }}</p>
</body>
</html>